@layout('layouts/app')

@set('title', 'Home')

@section('content')

  <article class="message is-link">
    <div class="message-header">
      <p>Tasklist</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      This is a small tasklist Application using Adonis Js 5. Create Task by clicking on Task tab from navbar. Cheers!
    </div>
  </article>
@endsection