<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Tasklist</strong> by Biswadeep. <b>@Copyright {{new Date().getFullYear()}}</b>. All Rights Reserved.
      </p>
    </div>
</footer>